<launch>
  <!-- <include file="$(find rf_data_acquisition)/acquisition.launch"/> -->
  <!-- Number of successive measurements for each measurement points -->
  <param name="/n_obs" type="int" value="3" />

  <!-- Namespace Names for XBee Services -->
  <arg name="wifi_namespace" default="wifi_ns" />
  <arg name="lora_namespace" default="lora_ns" />

  <param name="wifi_namespace" value="$(arg wifi_namespace)" />
  <param name="lora_namespace" value="$(arg lora_namespace)" />

  <!-- Service Names -->
  <!-- <arg name="wifi_service" default="wifi_service" />
  <arg name="lora_service" default="lora_service" />

  <param name="wifi_service" value="$(arg wifi_service)" />
  <param name="lora_service" value="$(arg lora_service)" /> -->
  <!-- Number of Anchor Nodes -->
  <arg name="n_wifi" default="15" />
  <arg name="n_lora" default="8" />

  <param name="n_wifi" type="int" value="$(arg n_wifi)" />
  <param name="n_lora" type="int" value="$(arg n_lora)" />

  <!-- Debuggin Level (Binary: On - Off ) -->
  <param name="debug" type="bool" value="true" />
  <param name="visualize" type="bool" value="false" />

  <!-- LoRa Network Parameters -->
  <node pkg="xbee_observation" type="get_observation.py" name="xbee_observation" output="screen" ns="$(arg lora_namespace)">
    <param name="port_xbee" type="str" value="/dev/ttyUSB0" />
    <param name="baud_xbee" type="int" value="9600" />
  </node>
  <rosparam param="xbee_addresses" ns="$(arg lora_namespace)">
    ["0013A2004126B1B5", "0013A2004126B1B8", "0013A2004149C6FB", "0013A200415B452B", "0013A200415B453E", "0013A2004149C6F8", "0013A2004149C6F5", "0013A200415B4541"]
    <!-- ["0013A2004126B1B5", "0013A2004126B1B8"] -->
  </rosparam>

  <!-- WiFi Network Parameters -->
  <node pkg="xbee_observation" type="get_observation.py" name="xbee_observation" output="screen" ns="$(arg wifi_namespace)">
    <param name="port_xbee" type="str" value="/dev/ttyUSB0"/>
    <param name="baud_xbee" type="int" value="9600"/>
  </node>
  <rosparam param="xbee_addresses" ns="$(arg wifi_namespace)">
    ["0013A2004126B1B5", "0013A2004126B1B8", "0013A2004149C6FB", "0013A200415B452B", "0013A200415B453E", "0013A2004149C6F8", "0013A2004149C6F5", "0013A200415B4541"]
    <!-- ["0013A2004126B1B5", "0013A2004126B1B8"] -->
  </rosparam>

  <!-- Database Properties -->
  <param name="db_location" type="str" value="etc/db/" />
  <param name="db_name" type="str" value="test" />
  <param name="db_fmt" type="str" value=".npy" />

  <!-- Data Acquisition Tool -->
  <node pkg="rf_data_acquisition" type="data_acquisition.py" name="data_acquisition" output="screen" />
</launch>
